@page
@model ElijahsPortfolioWebsite.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div class="card">
    <h2 class="card-header">Contact Information</h2>
    <div class="card-body">
        <p>
            Email: <a href="mailto:emmentch@gmail.com">emmentch@gmail.com</a>
            <br />
            Phone Number: <a href="tel:414-430-4360">(414)-430-4360</a>
            <br />
            <a target="_blank" rel="noopener noreferrer" href="~/documents/Elijah_Mentch_resume.pdf">Resume</a>
            <br />
            <a target="_blank" rel="noopener noreferrer" href="~/documents/Elijah_Mentch_Cover_Letter.docx">Cover Letter</a>
            <br />
            <a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/elijah-mentch/">LinkedIn</a>
            <br />
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/emmentch">GitHub</a>
        </p>
        <img src="~/images/grad_img_small.jpg" alt="Picture of me in graduation attire" title="Picture of me in graduation attire" class="card-img-bottom img-thumbnail m-auto d-block" style="width:30%;">
    </div>
</div>