@page
@model ElijahsPortfolioWebsite.Pages.GameModel
@{
    ViewData["Title"] = "Game";
}
@{ViewData["Title"] = "Game";}
<div class="card d-lg-block d-none">
    <div class="card-header">
        <h2>
            2048 Game
        </h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 ">
                <p id="score" class="float-right">
                    Score: 0
                </p>
            </div>
            <div class="col-6">
                <p id="highscore">
                    High Score: 0
                </p>
            </div>
        </div>
        <canvas id="myCanvas" width="480" height="480" class="m-auto d-flex justify-content-center pb-3"></canvas>
        <p class="text-center">Use arrow keys to play, aim to match numbers to get to 2048!</p>
    </div>
</div>
<div class="d-lg-none">
   Game is not playable with touch controls or responsive scaling, please play in a full
    screened web browser.
</div>
<script type="text/javascript" src="~/js/game.js"></script>
