@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1 class="display-4 text-center mb-3">Welcome to my page</h1>
<div class="card mb-3">
    <h2 class="card-header">About Me</h2>
    
    <p class="card-body">
        <img src="images/uwlogo.PNG" alt="Image of UW logo" class="img-fluid float-left rounded border border-dark mr-2" style="width:30vmin; height:auto;">
        My name is Elijah Mentch, and I am a recent Computer Science graduate from University of
        Wisconsin-Madison. I have programming experience in Java, JS, C, and Python
        through my undergrad. I am currently looking for Software Developer
        jobs locally (1 hour driving distance from West Bend, WI). This website
        has been built in order to begin to document some of my coding projects and also includes links to my
        LinkedIn and GitHub. Most importantly it showcases that I enjoy learning to code and practicing my skills.
    </p>

</div>
<div class="card-deck mb-3">
    <div class="card">
        <h2 class="card-header">Skills</h2>
        <ul class="card-body ml-2">
            <li><b>Languages: </b>Java, Python, JavaScript/CSS/HTML, C, PHP, C#, SQL</li>
            <li><b>Platforms: </b>Windows 10, Linux/Ubuntu</li>
            <li><b>Technologies: </b>Azure, Git, Bash</li>
            <li><b>Frameworks/Libraries: </b>ASP.NET Core, sqlite3, .NET, Bootstrap</li>
            <li><b>Soft Skills: </b>Goal Oriented, Self-Learner, Analytically Driven, Verbal and Written Communication</li>
            <li>Well-versed in applications/programming langauges</li>
            <li>Reliable and positive team-player</li>
            <li>Enthusiastic, self-driven, fast-learner</li>
            <li>Analytically-oriented and observant</li>
        </ul>
    </div>

    <div class="card">
        <h2 class="card-header"><a href="https://guide.wisc.edu/courses/comp_sci/">Relevant Coursework</a></h2>
        <ul class="card-body ml-2">
            <li>Introduction to Networks</li>
            <li>Introduction to Operating Systems</li>
            <li>Introduction to Compilers</li>
            <li>Computer Graphics</li>
            <li>Machine Organization and Programming</li>
            <li>Introduction to Algorithms</li>
            <li>Introduction to Artificial Intelligence</li>
            <li>Introduction to Information Security</li>
        </ul>
    </div>
</div>
