@page
@model ElijahsPortfolioWebsite.Pages.TodoModel
@{
    ViewData["Title"] = "Todo";
}
<div class="card">
    <h2 class="card-header">
        Website/Coding To Do List (updated 8/5/2021)*
    </h2>
    <div class="card-body">
        <ul class=" ml-2">
            <li><s>Make site mobile friendly</s> Completed:11/10/2020 (could still tweak)</li>
            <li>
                Learn, read about, and pracitce:
                <ol>
                    <li><s><a target="_blank" rel="noopener noreferrer" href="http://www.htmlandcssbook.com/">HTML5/CSS3</a></s> and <a target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/">Bootstrap</a></li>
                    <li><s><a target="_blank" rel="noopener noreferrer" href="http://javascriptbook.com/">Javascipt and jQuery</a></s> still want to learn ES5/6</li>
                    <li>C#/.NET Core</li>
                    <li>Azure</li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.manning.com/books/asp-net-core-in-action-second-edition">ASP.NET Core</a>
                        <ul>
                            <li>Blazor</li>
                            <li>EF Core</li>
                            <li>SQL Server</li>
                            <li>Dependancy Injection</li>
                        </ul>
                    </li>
                    <li>React</li>
                </ol>
            </li>
            <li>
                <s>Port site to Azure/ASP.NET core</s>
                <ul>
                    <li>Link projects to respective GitHub pages</li>
                </ul>
            </li>
        </ul>
        <p>*links direct to site of book/resource(s) I am using to learn listed material</p>
    </div>
</div>
