@page
@model ElijahsPortfolioWebsite.Pages.TodoModel
@{
    ViewData["Title"] = "Todo";
}
<div class="card">
    <h2 class="card-header">
        Website/Coding To Do List (updated 2/25/2021)
    </h2>
    <div class="card-body">
        <ul class=" ml-2">
            <li><s>Make site mobile friendly</s> Completed:11/10/2020 (could still tweak)</li>
            <li>Explore <s>php and</s> (switched to ASP.NET) <a target="_blank" rel="noopener noreferrer" href="https://automatetheboringstuff.com/">Python</a></li>
            <li><s>MySQL</s> SQLite practice on website?</li>
            <li><s>Learn more on Azure/ASP.NET Core-create project using it</s> => This Website</li>
            <li>
                Learn, read about, and pracitce:
                <ol>
                    <li>HTML5/CSS3 and <a target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/">Bootstrap</a></li>
                    <li>Javascipt (ES6) and jQuery</li>
                    <li><a target="_blank" rel="noopener noreferrer" href="https://www.manning.com/books/asp-net-core-in-action-second-edition">ASP.NET Core/.NET 5.0/C#</a></li>
                    <li>React</li>
                </ol>
            </li>
            <li>
                <s>Port site to Azure/ASP.NET core</s>
                <ul>
                    <li>still need to <s>make game not available on mobile, or </s>add touch controls</li>
                    <li><s>Make old site direct to this site</s></li>
                    <li><s>Update CSS to be better</s> => using Bootstrap</li>
                    <li><s>Update the Personal Webpage Page tab of Projects page</s></li>
                    <li>Link projects to respective GitHub pages</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
