@page
@model ElijahsPortfolioWebsite.Pages.TodoModel
@{
    ViewData["Title"] = "Todo";
}
<div class="card">
    <h2 class="card-header">
        Website/Coding To Do List (updated 2/25/2021)
    </h2>
    <div class="card-body">
        <ul class=" ml-2">
            <li><s>Make site mobile friendly</s> Completed:11/10/2020 (could still tweak)</li>
            <li>Explore <s>php and</s> (switched to ASP.NET) <a href="https://automatetheboringstuff.com/">Python</a></li>
            <li><s>MySQL</s> SQLite practice on website?</li>
            <li>Learn more on Azure/ASP.NET Core-create project using it</li>
            <li>Read/Practice HTML/CSS/JS/ASP.NET Core/React</li>
            <li>
                <s>Port site to Azure/ASP.NET core</s>
                <ul>
                    <li>still need to <s>make game not available on mobile, or </s>add touch controls</li>
                    <li><s>highlight current tab</s></li>
                    <li><s>Make old site direct to this site</s></li>
                    <li><s>switch resume and such to use this site's URL</s></li>
                    <li><s>Update CSS to be better</s> I completely redid my CSS using Bootstrap</li>
                    <li><s>Fix PHP related porting over of site -> C#?</s></li>
                    <li><s>Update the Personal Webpage Page tab of Projects page</s></li>
                    <li>Update website on GitHub</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
